/*整个Body*/
body{
    background: url("../image/bg.png");
}

/*工具条位置*/
.m-fixed{
    position: fixed !important;
    z-index: 10 !important;
    bottom: 1px !important;
    right: 1px !important;
}
/*工具条位置结束*/

.m-shadow-small{
    -webkit-box-shadow: 0 12px 12px rgba(0,0,0,0.6) !important;
    box-shadow: 0 12px 12px rgba(0,0,0,0.6) !important;
}

.m-shadow-top{
    -webkit-box-shadow: 0 12px 12px rgba(0,0,0,0.6) !important;
    box-shadow: 12px 0px 22px rgba(0,0,0,0.6) !important;
}
/* 容器宽度*/
.m-container{
    max-width: 75em !important;
    margin: auto !important;
}
.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}

/*边距*/
.m-margin-padded{
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding: 0.2em !important;
    padding-bottom: 0.2em !important;
    margin-bottom: 4px !important;
    margin-left: 1.2em !important;
}
.m-margin-none{
    margin-top: 0px !important;
}
.m-margin-top-small{
    margin-top: 30px !important;
}
.m-margin-padded2{
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding: 0.2em !important;
    padding-bottom: 0.2em !important;
    margin-bottom: 4px !important;
}
.m-margin-top-mini{
    margin-top: 3px !important;
}

.m-margin-bottom-mini{
    margin-bottom: 5px !important;
}
.m-margin-left{
    margin-left: 150px;
}
.m-margin-bottom-big{
    margin-bottom: 30px !important;
}
.m-size-big{
    display: block;
    width: 800px !important;
    height: 80px !important;
}
.m-padded-left-responsive{
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding-left: 6em !important;
    padding-right: 6em !important;
}
.m-padded-tb-mini{
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding: 0.2em !important;
    padding-bottom: 0.2em !important;;
}
.m-padded-tb-small{
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding: 0.5em !important;
    padding-bottom: 0.5em !important;;
}
.m-padded-tb{
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding: 1em !important;
    padding-bottom: 1em !important;;
}
.m-padded-tb-large {
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-tb-superBig {
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding-top: 20em !important;
    padding-bottom: 20em !important;
}
.m-padded-tb-huge {
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-massive {
    /*一个em就是14个像素  !important;提高自己的css的级别 */
    padding-top: 3em !important;
    padding-bottom: 2em !important;
}
/************字体设置**********/
/*字的宽度*/
.m-text-thin {
    font-weight: 300 !important;
}
/*字间距*/
.m-text-spaced {
    letter-spacing: 1px !important;
}
/*行间距*/
.m-text-lined {
    line-height: 1.8 !important;
}
/*透明度*/
.m-text-opacity-mini {
    opacity: 0.6 !important;
}
/*透明度*/
.m-text-opacity-max {
    opacity: 0.9 !important;
}
/*透明度*/
.m-text-size-mini {
   font-size: 11px;
}
.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;;
    line-height: 1.8 !important;;
}
/*黑色颜色*/
.m-text-black-color{
    color: lightslategrey;
}

/*行属性*/
.m-inline-block {
    display: inline-block !important;
}

/*定义按钮位置*/
.m-button-top-right{
    position: absolute;
    top: 0;
    right: 0;
}
/** 电脑端是隐藏的*/
.m-mobile-show{
    display: none !important;
}
/** 当屏幕小于768的时候做的事情*/
@media screen and (max-width: 768px){
    /*隐藏*/
    .m-mobile-hide{
        display: none !important;
    }
    /*显示*/
    .m-mobile-show{
         display: block !important;
    }
    .m-padded-left-responsive{
        /*一个em就是14个像素  !important;提高自己的css的级别 */
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
}
